* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.active {
  color: #d2691e;
}

.recipe-image {
  width: 50%;
  margin: auto;
}

.recipe-title {
  text-align: center;
}

.dark-theme {
  background-color: black;
  color: white;
}