* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 62.5%;
}

h1 {
    text-align: center;
}

p, a {
    font-size: 1.5rem;
}

#component {
    max-width: 1200px;
    margin: auto;
}

#components {
    margin: 0 auto;
    max-width: 1200px;
    border-bottom: 1px solid gray;
    border-radius: 2px;
}

.btn-components {
    font-size: 1.5rem;
    border: 0;
    background-color: white;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    font-weight: bold;
}

.active-component {
    border-bottom: 2px solid #007bff;
    border-radius: 2px;
}

.form-control {
    font-size: 1.5rem !important;
}

.btn {
    font-size: 1.5rem !important;
}