* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 62.5%;
}

p, a, li {
    font-size: 1.5rem;
}

.navbar-brand {
    font-size: 2rem !important;
}

.form-control {
    font-size: 1.5rem !important;  
}

.btn {
    font-size: 1.5rem !important;
}

leftsidebar {
    width: 32%;
    position: sticky;
    top: 0;
}

rightsidebar {
    width: 65%;
}