* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 62.5%;
}

p, a, li {
    font-size: 1.5rem;
}

.navbar-brand {
    font-size: 2rem !important;
}

.form-control {
    font-size: 1.5rem !important;  
}

.btn {
    font-size: 1.5rem !important;
}

.left-sidebar-title {
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.left-sidebar-title:hover {
    background-color: blueviolet;
    color: white;
    transition: 0.3s;
}

#main-content {
    height: 100vh;
}

#form-title {
    font-size: 2rem;
    font-weight: bold;
}

#left-sidebar {
    width: 35%;
    position: sticky;
    border-right: 1px solid rgba(128, 128, 128, 0.5);
}

#right-sidebar {
    width: 65%;
}

#fruit-form-btn {
    width: 100%;
}